.Weather {
  color: #5e5e5e;

  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );

  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #fcf4d9;
  border-radius: 10px;
  border-width: 0.1px;
  padding: 20px;
  margin-top: 30px;
}

.Weather h1 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  color: #352f44;
}
.Weather ul {
  padding-left: 0;
  list-style: none;
  color: #5e5e5e;
  line-height: 1.2;
}

.Weather .icon {
  display: inline-block;
  height: 50px;
  vertical-align: top;
  width: 60px;
  margin-top: 18px;
  margin-right: 14px;
}

.Weather .temperature {
  font-size: 60px;
  font-weight: 300px;
  color: #352f44;
}

.Weather .unit {
  color: #352f44;
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.Weather .mainButton {
  background-color: #5585b5;
  border-color: #5585b5;
}

@media (max-width: 900px) {
  .Weather {
    max-width: 350px;
  }

  .Weather form {
    display: flex;
    flex-direction: column; /* Cambiar a columna para que los elementos estén uno debajo del otro */
    gap: 10px; /* Espacio entre el input y el botón */
    width: 100%; /* Asegura que el formulario ocupe el ancho completo disponible */
    padding: 0 10px; /* Asegura que no haya margen extra en los bordes */
  }

  .Weather form input,
  .Weather form button {
    width: 100%; /* El input y el botón ocuparán el 100% del ancho */
    box-sizing: border-box; /* Asegura que el padding y border estén incluidos dentro del tamaño del ancho */
  }
}
